

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#menu li{
    display: inline;
}


.search-textinput{
    margin: 10px;
    width: 300px;
}









